repos:
# Auto-fixing hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
    - id: check-merge-conflict
    - id: fix-byte-order-marker
    - id: mixed-line-ending
      args: ['--fix=lf']
    - id: check-json
    - id: pretty-format-json
      args: ['--autofix', '--indent=2']

-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
    - id: isort
      args: ['--profile', 'black', '--line-length', '120']

-   repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
    - id: black
      language_version: python3.10
      args: ['--line-length', '120']

-   repo: https://github.com/pycqa/autoflake
    rev: v2.3.1
    hooks:
    - id: autoflake
      args: ['--in-place', '--remove-all-unused-imports', '--remove-unused-variables']

-   repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      args: ['--max-line-length=120', '--extend-ignore=E203,W503']

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    - id: pyupgrade
      args: ['--py310-plus']

-   repo: https://github.com/adamchainz/django-upgrade
    rev: 1.28.0
    hooks:
    - id: django-upgrade
      args: ['--target-version', '4.1']
