# General
# ------------------------------------------------------------------------------
DEBUG=True
LOCAL=True
DJANGO_SETTINGS_MODULE=project.settings
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=127.0.0.1
DJANGO_MEDIA_URL=/media/
DEBUG_TOOLBAR=True
DOMAIN="127.0.0.1"

# Redis
# ------------------------------------------------------------------------------
REDIS_URL=

# Postgres
# ------------------------------------------------------------------------------
DATABASE_URL=

# Celery
# ------------------------------------------------------------------------------
CELERY_BROKER_URL=

# AWS
# ------------------------------------------------------------------------------
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=

# EMAIL
# ------------------------------------------------------------------------------
DEFAULT_FROM_EMAIL=

# OTHER
# ------------------------------------------------------------------------------
CSRF_TRUSTED_ORIGINS=

# For local development on M1
# ------------------------------------------------------------------------------
GDAL_LIBRARY_PATH=/opt/homebrew/lib/libgdal.dylib
GEOS_LIBRARY_PATH=/opt/homebrew/lib/libgeos_c.dylib
