{% extends "admin/base.html" %}
{% load i18n static %}
<!-- custom filter module -->
{% load i18n_switcher %}

{% block extrahead %}{{ block.super }}
    <style type="text/css">
        {#    {% admin_shortcuts_css %}#}
        #header {
            background: {{ ADMIN_SETTINGS.header_color }};
        }

        div.breadcrumbs {
            background: {{ ADMIN_SETTINGS.breadcrumbs_color }};
        }

    </style>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}"/>
{% endblock %}

{% block branding %}
    <h1 id="site-name">{{ ADMIN_SETTINGS.title }} ver: {{ APP_VERSION }}</h1>
{% endblock %}

{% block userlinks %}
    <a href="{{ request|switch_i18n:'' }}">
        <img class="i18n_flag" src="{% static 'images/ru.png' %}"/>
    </a> /
    <a href="{{ request|switch_i18n:'eo' }}">
        <img class="i18n_flag" src="{% static 'images/eo.png' %}"/>
    </a> /
    {{ block.super }}
{% endblock %}