{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Страница
{% endblock title %}
{% block head %}
    <link rel="stylesheet"
          src="https://cdn.jsdelivr.net/gh/cotton123236/zoomist@latest/dist/zoomist.min.css"/>
{% endblock head %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/gh/cotton123236/zoomist@latest/dist/zoomist.min.js"></script>
    <script>new Zoomist('#page-image')</script>
{% endblock script %}
{% block content %}
    <div class="container-xxl my-5">
        <h2 class="my-5">Страница</h2>
        <div class="container_fluid">
            <form method="post">
                {% csrf_token %}
                <div class="row justify-content-between">
                    <div class="col">
                        <img src="{{ page.image_url }}" alt="" id="page-image" class="img-fluid"/>
                    </div>
                    <div class="col">{{ form|crispy }}</div>
                </div>
                <div class="row justify-content-center m-5">
                    <div class="col-1">
                        <button class="btn btn-success ml-2" type="submit" type="submit">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
        <h2 class="my-5">Последние изменения</h2>
        <table class="table my-5 table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дата изменения</th>
                    <th scope="col">Редактор</th>
                </tr>
            </thead>
            <tbody>
                {% for text in texts %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="#">{{ text.date }}</a>
                        </td>
                        <td>{{ text.editor.first_name }} {{ text.editor.last_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
