{% extends "admin/change_form.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <!-- Add these links to your admin template's head section -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/reader.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <button type="button" id="correctTextButton">Улучшить форматирование</button>

    {{ block.super }}
{% endblock %}


{% block submit_buttons_bottom %}
    <input type="submit" value="Сохранить" class="default" name="_continue">
    {% if prev_page_exists %}
        <input type="submit" value="<- Предыдущая страница" class="default" name="back_page">
    {% endif %}
    {% if next_page_exists %}
        <input type="submit" value="Следующая страница ->" class="default" name="next_page">
        <input type="submit" value="Сохранить и перейти к следующей странице ->" class="default" name="_save">
    {% endif %}
{% endblock %}

{% block admin_change_form_document_ready %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.min.js"></script>
    <script type="text/javascript" src="{% static 'js/zoom_picture_overlay.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/resize_textarea.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ckeditor5.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/markdown.js' %}"></script>
{% endblock %}