<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            {% block title %}
                Proofreader
            {% endblock title %}
        </title>
        <meta name="description" content="Proofreading tool"/>
        <meta name="keywords" content="Proofreader"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
              crossorigin="anonymous"/>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"/>
    </head>
    <body>
        <nav class="navbar">
            <div class="container-xxl justify-content-between">
                <a class="navbar-brand" href="{% url "home" %}">Proofreader</a>
                {% if user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown">{{ user.username }}</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Профиль</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url "logout" %}">Выход</a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <div class="row justify-content-between">
                        <div class="col">
                            <a href="{% url "login" %}">Войти</a>
                        </div>
                        <div class="col">
                            <a href="{% url "signup" %}">Зарегистрироваться</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </nav>
        {% block content %}
        {% endblock content %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
