.aligned label {
    width: 100%;
}

#correctTextButton,
#disableCKEditor
{
    background-color: #0C4B33; /* Django's primary color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#correctTextButton:hover,
#disableCKEditor:hover
{
    background-color: #09301E;
}
